# ======================
# Environments / secrets
# ======================
.env
.venv/
venv/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# ======================
# macOS
# ======================
.DS_Store

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Jupyter
# ======================
*.ipynb_checkpoints
